
body {
    height: 100vh;
    margin: 0em;
    padding: 0em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#consola {
    height: 22em;
    width: 54em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-shadow: 50px;
}   
#mandoIzquierdo{
    height: 21.7em;
    width: 7em;
    background-color: blue;
    border-radius: 5em 0.3em 0.3em 5em;
    box-shadow: 5px;
}
#cajaInterior2 {
    height: 21.7em;
    width: 40em;
    border-radius: 1em 1em 0.3em 0.3em;
    background-color: rgb(76, 76, 77);
    display: flex;
    align-items: center;
    justify-content: center;
}
#mandoDerecho{
    height: 21.7em;
    width: 7em;
    background-color: red;
    border-radius: 0.3em 5em 5em 0.3em;
}
#marcoExterior {
    height: 20.5em;
    width: 38em;
    border-radius: 0.5em;
    padding: 0em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#marcoInterior {
    height: 17em;
    width: 33em;
    background: linear-gradient(rgb(28, 28, 28), rgba(141, 140, 140, 0.401));
}
#botonesPantalla {
    height: 0.2em;
    width: 20em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
}
#botonPantalla1 {
    height: 0.4em;
    width: 1.2em;
    background-color: rgb(76, 76, 77);
    border-radius: 0.5em;
    margin-left: 2em;
}
#botonPantalla2 {
    height: 0.3em;
    width: 1em;
    background-color: white;
    border-radius: 0.5em;
}
#botonPantalla3 {
    height: 0.4em;
    width: 1.2em;
    background-color: rgb(76, 76, 77);
    border-radius: 0.5em;
}
#menos {

    height: 0.4em;
    width: 1.2em;
    border-radius: 0.5em;
    background-color: rgb(30, 30, 31);
    margin-top: 2em;
    margin-left: 5em;
}
#stickIzquierdo {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50em;
    background-color: black;
    margin-left: 2em;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

}
#circiuloStickIzquierdo {
    height: 2.7em;
    width: 2.7em;
    border-radius: 50em;
    background: linear-gradient(black, rgb(84, 84, 84));
}

