
body {
    height: 100vh;
    width: 100%;
    margin: 0em;
    padding: 0em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgb(6, 106, 220), rgb(2, 44, 76), rgb(6, 101, 38))

}
#consola{
    height:26.2em;
    width: 54.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gatillos {
    height: 4.3em;
    width: 54.6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -3.4em;
    z-index: 0;
}
#consola1 {
    height: 21.7em;
    width: 54.6em;
    border-radius: 4em 4em 4em 4em;
    margin-left: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-shadow: 50px;
}   
#mandoIzquierdo{
    height: 21.6em;
    width: 6.9em;
    background: linear-gradient(rgb(28, 146, 250), rgb(53, 156, 245), rgb(15, 73, 123));
    border: 0.1em solid rgba(0, 0, 0, 0.42);
    margin-right: 0.1em;
    border-radius: 4em 0.3em 0.3em 4em;
    box-shadow: 0.2em 0em 1em 0.2em black; 
    z-index: 1;   
}
#mandoDerecho{
    height: 21.6em;
    width: 6.9em;
    background: linear-gradient(red, rgb(255, 0, 0), rgb(152, 1, 1));
    border: 0.1em solid rgba(0, 0, 0, 0.436);
    margin-left: 0.1em;
    border-radius: 0.3em 4em 4em 0.3em;
    box-shadow: 0.2em 0em 1em 0.2em black;
    z-index: 1;
}
#cajaInterior2 {
    height: 21.6em;
    width: 39.9em;
    border-radius: 1em 1em 0.3em 0.3em;
    border: 0.1em solid rgba(0, 0, 0, 0.233);
    background: linear-gradient(rgb(30, 30, 30), rgb(83, 83, 83), rgb(43, 43, 43));
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.1em 0em 1em 0.2em black;
}
#marcoExterior {
    height: 20.5em;
    width: 38em;
    border-radius: 0.3em;
    padding: 0em;
    border: 0.01em solid rgba(255, 255, 255, 0.322);
    background: linear-gradient(black, grey, black);
    display: flex;
    align-items: center;
    justify-content: center;
}
#marcoInterior {
    height: 17em;
    width: 33em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pantalla {
    height: 17em;
    width: 33em;
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    background-image:url(/img/zelda.gif);
}
#botonesPantalla {
    height: 0.2em;
    width: 20em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
}
#botonPantalla1 {
    height: 0.3em;
    width: 1.2em;
    background-color: rgb(30, 30, 30);
    border-top: 0.1em solid rgba(0, 0, 0, 0.233);
    border-radius: 0.5em;
    margin-left: 2em;
}
#botonPantalla1:hover {
    height: 0.3em;
    width: 1.2em;
    background-color: rgb(30, 30, 30);
    border-top: 0.1em solid rgba(0, 0, 0, 0.233);
    margin-top: 0.1em;
    border-radius: 0.5em;
    margin-left: 2em;
    transition-delay: 0.5s;
    transition-duration: 0.3s;
}
#botonPantalla2 {
    height: 0.3em;
    width: 1em;
    border-radius: 0.5em;
}
#botonPantalla3 {
    height: 0.3em;
    width: 1.2em;
    background-color:rgb(30, 30, 30);
    border-top: 0.1em solid rgba(0, 0, 0, 0.233);
    border-radius: 0.5em;
}
#botonPantalla3:hover {
    height: 0.3em;
    width: 1.2em;
    background-color:rgb(30, 30, 30);
    border-top: 0.1em solid rgba(0, 0, 0, 0.233);
    margin-top: 0.1em;
    border-radius: 0.5em;
    transition-delay: 0.5s;
    transition-duration: 0.3s;
}
#menos {
    height: 0.45em;
    width: 1.2em;
    background-color:  rgb(28, 28, 28);
    border: 0.1 solid black;
    border-radius: 0.13em;
    margin-top: 1.7em;
    margin-left: 5em;
}
#stickIzquierdo {
    height: 3.4em;
    width: 3.4em;
    border-radius: 50em;
    border: 0.1em solid black;
    background-color: rgb(53, 53, 53);
    margin-left: 2em;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#circiuloStickIzquierdo {
    height: 2.8em;
    width: 2.8em;
    border: 0.1em solid black;
    border-radius: 50em;
    background: linear-gradient(rgb(20, 20, 20), rgb(41, 41, 41), rgb(67, 67, 67));
    box-shadow: 0.1em -0.1em 1em 0.2em black;
}
#circiuloStickIzquierdo:hover {
    height: 2.8em;
    width: 2.8em;
    background: linear-gradient(rgb(20, 20, 20), rgb(41, 41, 41), rgb(67, 67, 67));
    border: 0.1em solid black;
    border-radius: 50em;
    margin-bottom: 1em;
    transition-delay: 0.5s;
    transition-duration: 1s;
}
#botonArriba {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(35, 35, 35));
    margin-left: 2.7em;
    margin-top: 2em;
    margin-bottom: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonesID{
    height: 1.5em;
    width: 7em;
    display: flex;
    flex-direction: row;
}
#botonIzquierda {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(35, 35, 35));
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonDerecha {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(35, 35, 35));
    margin-left: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonAbajo {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(35, 35, 35));
    margin-left: 2.7em;
    margin-top: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonreset {
    height: 1.4em;
    width: 1.4em;
    border-radius: 0.2em;
    border: 0.1em solid black;
    background: rgb(36, 36, 36);
    margin-left: 4em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circuloReset {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50em;
    background: black;
}
#trianguloArriba {
    height: 0em;
    width: 0em;
    margin-bottom: 0.1em;
    border-bottom: 0.5em solid rgb(0, 0, 0);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
}
#trianguloAbajo {
    height: 0em;
    width: 0em;
    margin-top: 0.1em;
    border-top: 0.5em solid rgb(0, 0, 0);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
}
#trianguloIzquierda {
    height: 0em;
    width: 0em;
    margin-right: 0.1em;
    border-right: 0.5em solid rgb(0, 0, 0);
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}
#trianguloDerecha {
    height: 0em;
    width: 0em;
    margin-left: 0.1em;
    border-left: 0.5em solid rgb(0, 0, 0);
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}
#mas1 {
    height: 0.3em;
    width: 1.2em;
    border-radius: 0.1em;
    background-color:  rgb(28, 28, 28);
    border: 0.1em solid black;
    margin-top: 2em;
    margin-left: 0.75em;
}
#mas2 {
    height: 1.2em;
    width: 0.3em;
    border-radius: 0.1em;
    border: 0.1em solid black;
    background-color:  rgb(28, 28, 28);
    margin-top: -0.95em;
    margin-left: 1.2em;
}
#botonX {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    color: rgba(255, 255, 255, 0.627);
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(48, 48, 48), rgb(23, 23, 23));
    margin-left: 2.6em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonesYA{
    height: 1.5em;
    width: 7em;
    display: flex;
    flex-direction: row;
}
#botonY {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    color: rgba(255, 255, 255, 0.627);
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(48, 48, 48), rgb(23, 23, 23));
    margin-left: 0.95em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonA {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    color: rgba(255, 255, 255, 0.627);
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(48, 48, 48), rgb(23, 23, 23));
    margin-left: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonB {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50em;
    color: rgba(255, 255, 255, 0.627);
    border: 0.15em solid rgba(0, 0, 0, 0.304);
    background: linear-gradient(rgb(78, 77, 77), rgb(48, 48, 48), rgb(23, 23, 23));
    margin-left: 2.6em;
    margin-top: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botonreset {
    height: 1.4em;
    width: 1.4em;
    border-radius: 0.2em;
    border: 0.1em solid black;
    background: rgb(36, 36, 36);
    margin-left: 4em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stickDerecho {
    height: 3.4em;
    width: 3.4em;
    border-radius: 50em;
    border: 0.1em solid black;
    background-color: rgb(53, 53, 53);
    margin-left: 1.7em;
    margin-top: 2.3em;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#circuloStickDerecho {
    height: 2.8em;
    width: 2.8em;
    border: 0.1em solid black;
    border-radius: 50em;
    background: linear-gradient(rgb(78, 77, 77), rgb(48, 48, 48), rgb(23, 23, 23));
    box-shadow: 0.1em 0.1em 1em 0.2em black;
}
#circuloStickDerecho:hover {
    height: 2.8em;
    width: 2.8em;
    background: linear-gradient(rgb(78, 77, 77), rgb(48, 48, 48), rgb(23, 23, 23));
    border: 0.1em solid black;
    border-radius: 50em;
    margin-top: 1em;
    transition-delay: 0.5s;
    transition-duration: 1s;
    box-shadow: 0.1em 0.1em 1em 0.2em black;

}
#botonHome {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50em;
    border: 0.05em solid black;
    background: rgb(168, 167, 167);
    margin-left: 1.5em;
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circuloHome {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50em;
    background: rgb(72, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
}
#iconoHome {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50em;
    background: rgb(72, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
}
#trianguloHome {
    height: 0em;
    width: 0em;
    border-bottom: 0.3em solid rgb(0, 0, 0);
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
}
#cuadradoHome {
    height: 0.4em;
    width: 0.6em;
    background-color: black;
    margin-left: 0.08em;
    margin-bottom: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#puntoicono {
    height: 0.25em;
    width: 0.25em;
    border-radius: 50em;
    background: rgb(72, 72, 72);
    margin-bottom: 0.1em;
}
#botonL1 {
    height: 3.3em;
    width: 5.7em;
    margin-left: 0.1em;
    margin-right: 42.3em;
    border-radius: 6em 0.5em 0em 0.2em;
    background-color: rgb(117, 117, 117);
    border: 0.05em solid black;
    box-shadow: 0.1em 0.1em 1em 0.2em black;
}
#botonR1 {
    height: 3.3em;
    width: 5.7em;
    border-radius: 0em 6em 0em 0.2em;
    background-color: rgb(117, 117, 117);
    border: 0.05em solid black;
    margin-left: 0em;
    box-shadow: 0.1em 0.1em 1em 0.2em black;
}


